In [163]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# loading data

In [164]:
dataset = pd.read_csv('CarPrice_Assignment.csv')

In [165]:
dataset = dataset.sample(frac=1)

In [166]:
dataset.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
178,179,3,toyota corolla liftback,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558.0
93,94,1,nissan titan,gas,std,four,wagon,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349.0
146,147,0,subaru trezia,gas,std,four,wagon,fwd,front,97.0,...,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463.0
100,101,0,nissan nv200,gas,std,four,sedan,fwd,front,97.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,9549.0

In [167]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 205 entries, 3 to 51
Data columns (total 26 columns):
car_ID              205 non-null int64
symboling           205 non-null int64
CarName             205 non-null object
fueltype            205 non-null object
aspiration          205 non-null object
doornumber          205 non-null object
carbody             205 non-null object
drivewheel          205 non-null object
enginelocation      205 non-null object
wheelbase           205 non-null float64
carlength           205 non-null float64
carwidth            205 non-null float64
carheight           205 non-null float64
curbweight          205 non-null int64
enginetype          205 non-null object
cylindernumber      205 non-null object
enginesize          205 non-null int64
fuelsystem          205 non-null object
boreratio           205 non-null float64
stroke              205 non-null float64
compressionratio    205 non-null float64
horsepower          205 non-null int64
peakrpm             205 non-null int64
citympg             205 non-null int64
highwaympg          205 non-null int64
price               205 non-null float64
dtypes: float64(8), int64(8), object(10)
memory usage: 43.2+ KB

# checking missing values

In [168]:
dataset.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [169]:
dataset.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

# deleting uncessary data

In [170]:
dataset.drop(columns='car_ID', inplace=True)
dataset.drop(columns='CarName', inplace=True)
dataset.head(10)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
178,3,gas,std,two,hatchback,rwd,front,102.9,183.5,67.7,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558.0
93,1,gas,std,four,wagon,fwd,front,94.5,170.2,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,7349.0
146,0,gas,std,four,wagon,fwd,front,97.0,173.5,65.4,...,108,2bbl,3.62,2.64,9.0,82,4800,28,32,7463.0
100,0,gas,std,four,sedan,fwd,front,97.2,173.4,65.2,...,120,2bbl,3.33,3.47,8.5,97,5200,27,34,9549.0
44,1,gas,std,two,sedan,fwd,front,94.5,155.9,63.6,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,8916.5
13,0,gas,std,four,sedan,rwd,front,101.2,176.8,64.8,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105.0
98,2,gas,std,two,hardtop,fwd,front,95.1,162.4,63.8,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249.0
76,2,gas,std,two,hatchback,fwd,front,93.7,157.3,64.4,...,92,2bbl,2.97,3.23,9.4,68,5500,37,41,5389.0
107,0,gas,std,four,sedan,rwd,front,107.9,186.7,68.4,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,11900.0

# one hot encoding

In [171]:
obj_cols = dataset.select_dtypes(include="object")

In [172]:
obj_cols.head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
3,gas,std,four,sedan,fwd,front,ohc,four,mpfi
178,gas,std,two,hatchback,rwd,front,dohc,six,mpfi
93,gas,std,four,wagon,fwd,front,ohc,four,2bbl
146,gas,std,four,wagon,fwd,front,ohcf,four,2bbl
100,gas,std,four,sedan,fwd,front,ohc,four,2bbl

In [173]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for cols in obj_cols:
    dataset.loc[:,cols] = le.fit_transform(dataset.loc[:,cols])

In [174]:
dataset.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
3,2,1,0,0,3,1,0,99.8,176.6,66.2,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
178,3,1,0,1,2,2,0,102.9,183.5,67.7,...,171,5,3.27,3.35,9.3,161,5200,20,24,16558.0
93,1,1,0,0,4,1,0,94.5,170.2,63.8,...,97,1,3.15,3.29,9.4,69,5200,31,37,7349.0
146,0,1,0,0,4,1,0,97.0,173.5,65.4,...,108,1,3.62,2.64,9.0,82,4800,28,32,7463.0
100,0,1,0,0,3,1,0,97.2,173.4,65.2,...,120,1,3.33,3.47,8.5,97,5200,27,34,9549.0

In [175]:
dataset.columns

Index(['symboling', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

# data spltting

In [176]:
target = dataset['price']

In [177]:
target.head()

3      13950.0
178    16558.0
93      7349.0
146     7463.0
100     9549.0
Name: price, dtype: float64

In [178]:
data =  dataset.drop(columns='price')

In [179]:
data.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
3,2,1,0,0,3,1,0,99.8,176.6,66.2,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
178,3,1,0,1,2,2,0,102.9,183.5,67.7,...,3,171,5,3.27,3.35,9.3,161,5200,20,24
93,1,1,0,0,4,1,0,94.5,170.2,63.8,...,2,97,1,3.15,3.29,9.4,69,5200,31,37
146,0,1,0,0,4,1,0,97.0,173.5,65.4,...,2,108,1,3.62,2.64,9.0,82,4800,28,32
100,0,1,0,0,3,1,0,97.2,173.4,65.2,...,2,120,1,3.33,3.47,8.5,97,5200,27,34

In [180]:
data.shape

(205, 23)

In [181]:
train_data = data.iloc[:104]
train_label = target.iloc[:104]

In [182]:
test_data = data.iloc[104:165]
test_label = target.iloc[104:165]

In [183]:
val_data = data.iloc[165:]
val_label = target.iloc[165]

# data normalization

In [184]:
mean = train_data.mean()

In [185]:
std = train_data.std()

In [186]:
normalize_train_data = (train_data-mean)/std

In [187]:
normalize_train_data.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
3,0.927992,0.30631,-0.439913,-0.886272,0.384366,-0.568675,-0.139353,0.221185,0.212245,0.229399,...,-0.194161,-0.429122,0.841058,-0.532937,0.423984,-0.004069,0.001358,0.820554,-0.211340,-0.147109
178,1.752873,0.30631,-0.439913,1.117473,-0.726024,1.279518,-0.139353,0.786688,0.815441,0.984385,...,1.152024,1.268412,0.841058,-0.225658,0.272144,-0.188050,1.668146,0.144166,-0.862579,-1.103321
93,0.103110,0.30631,-0.439913,-0.886272,1.494755,-0.568675,-0.139353,-0.745643,-0.347241,-0.978578,...,-0.194161,-0.757678,-1.135666,-0.686577,0.089936,-0.161767,-0.930913,0.144166,0.928329,0.968470
146,-0.721771,0.30631,-0.439913,-0.886272,1.494755,-0.568675,-0.139353,-0.289592,-0.058756,-0.173260,...,-0.194161,-0.456502,-1.135666,1.118688,-1.883986,-0.266900,-0.563655,-0.757684,0.439900,0.171628
100,-0.721771,0.30631,-0.439913,-0.886272,0.384366,-0.568675,-0.139353,-0.253108,-0.067498,-0.273924,...,-0.194161,-0.127947,-1.135666,0.004801,0.636561,-0.398315,-0.139895,0.144166,0.277090,0.490365

In [188]:
normalize_test_data = (test_data-mean)/std

In [189]:
normalize_test_data.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
200,-1.546653,0.30631,-0.439913,-0.886272,0.384366,1.279518,-0.139353,1.917694,1.278766,1.588374,...,-0.194161,0.447025,0.841058,1.733246,-0.335216,-0.135484,0.340366,0.595091,-0.374150,-0.465846
49,-0.721771,0.30631,-0.439913,1.117473,0.384366,1.279518,-0.139353,0.622509,1.532283,2.444024,...,3.844394,5.512249,0.841058,0.811409,-1.519570,0.390178,4.521460,-0.306759,-2.002248,-2.218900
92,0.103110,0.30631,-0.439913,-0.886272,0.384366,-0.568675,-0.139353,-0.745643,-0.775598,-0.978578,...,-0.194161,-0.757678,-1.135666,-0.686577,0.089936,-0.161767,-0.930913,0.144166,0.928329,0.968470
181,-1.546653,0.30631,-0.439913,-0.886272,1.494755,1.279518,-0.139353,1.078560,1.191346,0.380397,...,1.152024,0.994616,0.841058,-0.225658,0.272144,-0.214334,1.526893,0.144166,-1.025389,-1.103321
156,-0.721771,0.30631,-0.439913,-0.886272,0.384366,-0.568675,-0.139353,-0.526739,-0.688178,-0.676583,...,-0.194161,-0.730298,-1.135666,-0.532937,-0.699633,-0.266900,-0.902662,-0.757684,0.765519,0.968470

In [190]:
normalize_val_data = (val_data-mean)/std

In [191]:
normalize_val_data.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
106,0.103110,0.306310,-0.439913,1.117473,-0.726024,1.279518,-0.139353,0.111732,0.378343,1.085050,...,1.152024,1.542208,0.841058,0.388900,0.029200,-0.266900,1.639895,0.144166,-1.025389,-0.943952
114,-0.721771,-3.233274,2.251319,-0.886272,1.494755,1.279518,-0.139353,2.848038,2.161706,1.336712,...,-0.194161,0.748200,-0.147304,1.425967,0.788401,2.887071,-0.196396,-2.223191,-0.048530,-0.943952
198,-2.371534,0.306310,2.251319,-0.886272,0.384366,1.279518,-0.139353,1.042076,1.278766,0.732723,...,-0.194161,0.145849,0.841058,1.118688,-0.335216,-0.661146,1.696396,-0.081297,-1.351009,-1.422058
52,0.103110,0.306310,-0.439913,1.117473,-0.726024,-0.568675,-0.139353,-1.001032,-1.317601,-0.777248,...,-0.194161,-0.921955,-1.135666,-1.147495,-0.335216,-0.266900,-0.959163,-0.306759,0.928329,1.127839
50,0.103110,0.306310,-0.439913,1.117473,-0.726024,-0.568675,-0.139353,-1.001032,-1.317601,-0.777248,...,-0.194161,-0.921955,-1.135666,-1.147495,-0.335216,-0.266900,-0.959163,-0.306759,0.765519,0.012259

In [192]:
normalize_train_data.shape

(104, 23)

In [193]:
normalize_test_data.shape

(61, 23)

In [194]:
normalize_val_data.shape

(40, 23)

In [195]:
import keras
from keras import layers
from keras import models
from keras import regularizers

# creating model

In [196]:
model = keras.Sequential()

In [197]:
model.add(layers.Dense(16, activation="relu", kernel_regularizer=regularizers.l2(0.001), input_shape=(normalize_train_data.shape[1],)))
model.add(layers.Dense(10,activation="relu"))
model.add(layers.Dense(8,activation="relu"))
model.add(layers.Dense(6,activation="relu"))
model.add(layers.Dense(1))

# compilation

In [198]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [199]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_32 (Dense)             (None, 16)                384
_________________________________________________________________
dense_33 (Dense)             (None, 10)                170
_________________________________________________________________
dense_34 (Dense)             (None, 8)                 88
_________________________________________________________________
dense_35 (Dense)             (None, 6)                 54
_________________________________________________________________
dense_36 (Dense)             (None, 1)                 7
=================================================================
Total params: 703
Trainable params: 703
Non-trainable params: 0
_________________________________________________________________

# model training

In [200]:
history = model.fit(normalize_train_data,train_label, batch_size=12, epochs=30, 
                    validation_data=(normalize_val_data, val_label))

ValueError: Error when checking target: expected dense_36 to have 2 dimensions, but got array with shape ()

In [ ]:
# i tried many times but i can't understand this error